<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title">Streaming radios faenas</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th>Player</th>
                            <th>Status</th>
                            <th>Faena</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td> <audio src="http://doc.emt.cl:8000/rapi.mp3" controls="controls"> </audio>
                            </td>
                            <td>
                                <button class="btn btn-success">
                                    <i class="fa fa-music"></i>
                                    </button>
                            </td>
                            <td>Cemin</td>
                        </tr>
                        <tr>
                            <td> <audio src="http://10.10.30.3:8000/rapiss.mp3" controls="controls"> </audio>
                            </td>
                            <td>
                                <button class="btn btn-danger">
                                    <i class="fa fa-music"></i>
                                    </button>
                            </td>
                            <td>Rajo Inca</td>
                        </tr>
                    </tbody>

                </table>


            </div>
        </div>
    </div>
</div>